%html
  %head
    %title stolenbicycleregistry.com
    = stylesheet_link_tag "application"
    - javascript_include_tag "application"
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        %ul.nav.span9
          %li
            = link_to 'stolenbikeregistry', root_path
          %li
            = link_to 'how it works', '#'
          %li
            = link_to 'register a stolen bike', new_registration_path
          %li
            = link_to 'search', new_search_path
          %li
            = link_to 'blog', 'http://blog.stolenbicycleregistry.com'
        .login.pull-right.span4
          = form_tag '#', class: 'form-inline' do
            = email_field_tag 'Email', '', class: 'input-small', placeholder: 'Email'
            = password_field_tag 'Password', '', class: 'input-small', placeholder: 'Password'
            = submit_tag 'Sign In', class: 'btn'
    .container
      = yield
      #push

    %footer
      .container
        Copyright Bryan Hance.